/*
    Global things go below here
 */

/* Things that are valid and relevant for common root elements */

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}
body * {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #e8e6e3;
    display: flex;
    flex-direction: column;
}
/* any that could be a link */
a {
    text-decoration: none;
}

/*
    Header things go below here
 */

/* Makes the header be a flexbox to all items within it align nicely */
.header {
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: large;
    padding: .2rem 1rem;
    background-color: #212121;
}
/* An image within the header is about as big as indicated by an attached class */
.header img {
    width: 100%;
}
/* magical full width spacer between components */
.header .spacer {
    flex-grow: 1;
}
/* declares the actual of the logo image */
.header .logo-image {
    width: 3rem;
}
/* text next to the logo */
.header .logo-text {
    font-weight: bold;
    font-size: x-large;
}
/* any that is a clickable link should look button-ish */
.header a[href] {
    padding: 1rem;
    border-radius: .5rem;
    margin: 0 .1rem;
}
/* when a clickable link is being hovered */
.header a[href]:hover {
    background-color: #ddd;
    color: black;
}
/* when a clickable link has been activated */
.header a[href].active {
    background-color: dodgerblue;
    color: white;
}

/*
    Anything regarding actual site content goes below
 */

.container {
    height: 100%;
    padding: 1rem;
    /* default background unless specified otherwise */
    background-image: radial-gradient(
            circle at 50% 50%,
            #0000 0,
            #0000 .1rem,
            #000 .3rem
    );
    background-size: .5rem .5rem;
    box-sizing: border-box;
}
/* every element inside the container */
.container * {
    width: max-content;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 50%);
}

.container iframe {
    flex: 1; /* uugh */
    width: revert; /* uugh */
    border: 0;
}

/*
    From Uiverse.io by SelfMadeSystem
    More comprehensive version at shenanigans.shoghisimon.ca/collection/css-blur-blob-bg/
 */

.container::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    --f: blur(7rem) brightness(5);
    --c: #09f;
    animation: moving-color-blobs 150s linear infinite, rainbow-hue 5s linear infinite;
    background-color: #000;
    background-image: radial-gradient(
        ellipse 66px 50px at 50% 50%,
        #355 0%,
        transparent 100%
    ),
    radial-gradient(ellipse 77px 60px at 50% 50%, #355 0%, transparent 100%),
    radial-gradient(ellipse 78px 100px at 50% 50%, #355 0%, transparent 100%),
    radial-gradient(ellipse 73px 96px at 50% 50%, #355 0%, transparent 100%),
    radial-gradient(ellipse 76px 77px at 50% 50%, #355 0%, transparent 100%),
    radial-gradient(ellipse 66px 51px at 50% 50%, #355 0%, transparent 100%),
    radial-gradient(ellipse 90px 57px at 50% 50%, #355 0%, transparent 100%),
    radial-gradient(ellipse 89px 93px at 50% 50%, #355 0%, transparent 100%);
    background-size: 726px 576px,
    1242px 454px,
    876px 1160px,
    691px 873px,
    914px 550px,
    1159px 340px,
    1017px 831px,
    313px 977px;
}

@keyframes rainbow-hue {
    0% {
        filter: var(--f) hue-rotate(0deg);
    }
    to {
        filter: var(--f) hue-rotate(1turn);
    }
}

@keyframes moving-color-blobs {
    0% {
        background-position: 271px 478px,
        62px 291px,
        67px 861px,
        553px 413px,
        36px 392px,
        1077px 226px,
        400px 799px,
        7px 264px;
    }

    to {
        background-position: -14975px -2978px,
        31112px 11187px,
        -20081px 8981px,
        11609px -3952px,
        -12760px 12492px,
        -9354px 2946px,
        9553px 21574px,
        946px 9057px;
    }
}

.container::after {
    content: "";
    position: absolute;
    backdrop-filter: hue-rotate(90deg);
    mask: linear-gradient(45deg, #0000, #000);
    animation: rotaty 5s linear infinite;
    transform-origin: center;
}
